[submodule "assignment1-weekend"]
	path = assignment1-weekend
	url = git@github.com:johngillen/assignment1-weekend.git
[submodule "assignment2-weekend"]
	path = assignment2-weekend
	url = git@github.com:johngillen/assignment2-weekend.git
[submodule "assignment6-inclass"]
	path = assignment6-inclass
	url = git@github.com:johngillen/assignment6-inclass.git
[submodule "assignment3-weekend"]
	path = assignment3-weekend
	url = git@github.com:johngillen/assignment3-weekend.git
[submodule "assignment4-weekend"]
	path = assignment4-weekend
	url = git@github.com:johngillen/assignment4-weekend.git
